.gradle
**/build/
!src/**/build/
bin/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Avoid ignore Gradle wrappper properties
!gradle-wrapper.properties

# Cache of project
.gradletasknamecache

.idea
.vscode

# Mac OS
*.DS_Store

# Compiled classes
*.class

settings.dat
pkeds_log.txt
/episodes/
/last.session

start.sh
